<!DOCTYPE html>
<html>
<head>
	<title>layout1</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid bg-dark text-light text-center mb-3">IIT</div>
	<div class="jumbotron text-center bg-success">
		<h1>Hello World</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <br>
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br>
		consequat. Duis aute irure dolor.</p>
		<button type="button" class="btn btn-primary">Main call to action</button>
		<button type="button" class="btn btn-danger">Secondary action</button>
	</div>
	
	<div class="box py-5 bg-light">
		<div class="container mx-5">
			<div class="row">
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">9 mins</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">9 mins</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">9 mins</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">9 mins</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">9 mins</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">9 mins</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">9 mins</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">9 mins</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 pb-4">
				<div class="album text-center">
					<img src="thumbnail.jpg" style="width:100%" class="img-rounded">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="button justife-content-between align-item-center">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-secondary">View</button>
							<button class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-right">9 mins</small>
					</div>
				</div>
			</div>
			
			</div>
		</div>
	</div>
</body>
</html>


